*{
    font-family: 'ABeeZee', sans-serif;
}

.welcome{
    width: 100vw;
    height:100vh;
    background-image: url("../../img/fond1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    

}
.welcome p{
    font-size: 18px;
    font-weight: bold;
} 
h1{
    font-size: 65px !important;
    font-weight:bold !important;
    text-align: center !important;
}
h2{
    font-size: 35px !important; 
    font-weight:bold !important;
    text-align: center !important;
}


.navBar{
    z-index:1;
    background:transparent!important;
    border-bottom: 2px solid;
}

.btnWelcome{
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #631878;
    border-radius: 27px;
    border: none;  
    
   
}


.btnWelcome:hover{
   
    background-color: #e93578;
} 

.btnDark{
    background-color: black;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 27px;
    border: none; 
}
.category{
    font-size: 50px; 
}
#about{
    background-color:rgba(233,53,120,0.9); 
    padding:100px; 
   


}


.line{
    background-color: black;
    width: 5vw;
    height: 4px;
    border: none;
    margin-top: 5px; 
    

}
.description{
    width: 50vw; 
}
.mPerso{
    margin-top: 40px;
}


#skills{
    background-color:rgba(0,0,0,0.87); 
    padding:100px 0px 100px 0px;
  
}
#skills h2{
    color: white; 
}
#skills hr{
   background-color: white;
}
.skillsTable{
    background-color: #631878;
}
.imgSkill{
    width:5vw !important;
}

#project{
    background-color:rgba(0,0,0,0.87); 
    
    color:white;
  
}
#project hr{
    background-color: white;
}
#test{
    
    width:100%; 
    border-top: 1px solid white;
    border-bottom: 1px solid white;  
}
#test p{
    margin:0; 
    padding: 1vh; 
}
.projectTable{
    background-color: #e93578;
    padding-left:0 !important;
    padding-right:0!important;
    border-radius:35px;
    border: 1px solid white; 
}
.projectTable img{
    width:100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    
}


 .contact{
    /* width: 100vw;
    height:100vh; */
    background-image: url("../../img/contact.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    

}